/* * { border: 1px solid black; } */

.main{
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 50px;
}

.maindiv{
    display: flex;
    flex-direction: row;
}

.about-text{
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: left;
    /* align-items: center; */
    /* margin: 0 auto; */
    margin-left: 20px;
    /* margin-top: 50px; */
}

.quotation{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 9px;
    width: 80%;
}

.about-text p{
    width: 75%;
}

.desktop-tablet{
    text-align: left;
}

.about-img{
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    height: 50%;
    /* align-items: center; */
}

.about-img img{
    margin-top: 50px;
    height: 800px;
}

.youtube-link{
    color: var(--button-color);
    text-decoration: underline;
}

.buttons-mobile{
    display: none;
}

.button{
    margin-top: 40px;
    margin-bottom: 40px;
}
.quotation{
    align-self: center;
    align-items: center;
    border: 2px solid var(--button-color);
    border-radius: 9px;
    width: 80%;
}

.author{
    margin-top: 0px;
}

@media only screen and (max-width: 768px) {

    .maindiv{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .about-text p{
        width: 90%;
    }
    
    .about-img img {
        margin-top: 30px;
        width: 100%;
    }

    .quote{
        width: 70%;
        padding: 60px;
    }

    .buttons-desktop{
        display: none;
    }
    .buttons-mobile{
        display: flex;
    }

    .quotation{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .about-img img {
        margin-top: -20px;
        margin-bottom: -20px;
    }
}

@media only screen and (max-width: 380px) {
    .about-img img {
        margin-top: -50px;
        margin-bottom: -50px;
    }
}

@media only screen and (max-width: 360px) {
    .about-img img {
        margin-top: -100px;
        margin-bottom: -100px;
    }
}