.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.carousel_card{
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;
    display: none;
}

.active{
    display: flex;
}

.card{
    /* width: 20%; */
    /* height: auto; */
    position: relative;
    text-align: center;
}

.carousel_image{
    max-width: 200px;
}

/* .title-background{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    width: 50%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
} */

.fa-solid{
    color: var(--text-color);
    font-size: 6vw;
}

.fa-solid:hover{
    color: var(--text-hover-color);
    font-size: 7vw;
}