

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    
}

.carousel_card, #slidemobile{
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;
    display: none;
}

.active{
    display: flex;
}

.card{
    text-align: center;
}

.carousel-card-content:hover  .title-background{
    color: var(--text-hover-color);
    transition: 0.4s;
}

.carousel-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.carousel-card-content img{
    max-width: 100%;
    border-radius: 9px;
    position: relative;
    box-shadow: 5px 5px 10px #d6d4cb;
}

.arrow-box{
    width: 4vw;
}

.fa-solid{
    color: var(--button-color);
    font-size: 4vw;
}

.fa-solid:hover{
    color: var(--text-hover-color);
    cursor: pointer;
    font-size: 4vw;
}


@media only screen and (max-width: 768px) {
    
    #slideone, #slidetwo, .arrow-box{
        display: none;
    }

    #slidemobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px 0 10px;
    }
    
    .post-container{
        margin: 10px;
        width: 40%;
    }
    
    .post-container img{
        border-radius: 9px;
        box-shadow: 5px 5px 10px #d6d4cb;
        width: 100%;
    }
    
    .card-title{
        width: 100%;
    }
}