main{
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

#post-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-container{
    margin: 1em;
}



button {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #d6d4cb;
    background-color: var(--header-color);
    font-size: 20px;
    font-weight: normal;
}

button{
    margin: 40px 0 40px 0;
    background-color: var(--button-color);
    color: white;
}

.button:hover{
    background-color: var(--text-hover-color);
    cursor: pointer;
    transition: 0.4s;
}

