/* * { border: 1px solid red; } */

.blog-post-item{
    display: flex;
    margin-top: 40px;
}

.image{
    margin: 20px;
}

.main-content {
    width: 100%;
    display: flex;
}

.main-content h1, .main-content p{
    margin-top: 20px;
}

.main-content p{
    width: 70%;
    margin-top: 40px;
}

h2{
    margin-top: 40px;
    display: flex;
}

.post-text-content{
    margin-left: 40px;
}

h3{
    text-align: center;
    font-size: 40px;
}

.post-paragraph{
    text-align: left;
}

.shoppinglist{
    /* display: flex; */
    background-color: #EAE6C6;
    padding: 20px;
}

.empty, .list .cart{
    flex: 1;
    max-width: 33%;
}

.empty{
    color: var(--background-color);
}

.buttons{
    margin-top: 30px;
}


.quote{
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {

    .main-content p{
        width: 100%;
        margin-top: 40px;
    }

}

@media only screen and (max-width: 768px) {

    .main-content {
        width: 100%;
        display: block;
    }
   
    .image{
        width: 200px;
    }
}