@import url(/CSS/global-styles/colors.css);
@import url(/CSS/global-styles/typography.css);
@import url(/CSS/headerfooter.css);

h1, p{
    color: var(--text-color);
}


#wrapper{
    background-color: var(--body-color);
    max-width: 1440px;
    margin: 0 auto;
}

.welcome{
    display: flex;
    align-items: center;
    margin-bottom: 8vmin;
}

.welcome-img{
    width: 50%;
}

.welcome-h1{
    width: 100%;
    font-size: 3vmin;
    color: var(--text-color);
    text-align: center;
}

h2{
    color: var(--text-color);
    text-align: center;
}

.about-contact{
    margin-top: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about, .home-contact, .about-contact-img{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-contact-img{
    width: 30%;
}

.button{
    width: 50%;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 20px #d6d4cb;
}

.button:hover{
    background-color: var(--text-hover-color);
    cursor: pointer;
}