@import url(/CSS/global-styles/colors.css);
@import url(/CSS/global-styles/typography.css);
@import url(/CSS/global-styles/headerfooter.css);
@import url(/CSS/hamburger.css);
@import url(loading.css);

h1, p{
    color: var(--text-color);
}


#wrapper{
    background-color: var(--body-color);
    max-width: 1440px;
    margin: 0 auto;
}

.welcome{
    display: flex;
    align-items: center;
    margin-bottom: 8vmin;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.welcome-img, .welcome-text{
    width: 50%;
}

.welcome-h1, p{
    width: 100%;
    color: var(--text-color);
    text-align: center;
}

.welcome-text p{
    width: 80%;
    margin: 0 auto;
}

.buttons{
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

h2, h3{
    color: var(--text-color);
    text-align: center;
}

.about-contact{
    width: 80%;
    margin: 0 auto;
    margin-top: 8vmin;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about, .home-contact, .about-contact-img{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button, .button-all-posts{
    width: 75%; 
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 10px #d6d4cb;
}

.button-all-posts{
    width: 35%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.ghost-button{
    border: 1px solid var(--text-hover-color);
    background-color: inherit;
    color: black;
}

.ghost-button:hover{
    border: none;
    color: white;
}

.button:hover{
    background-color: var(--text-hover-color);
    cursor: pointer;
    transition: 0.4s;
}

.quote{
    border: 2px solid var(--button-color);
    border-radius: 9px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}


@media only screen and (max-width: 768px) {

    .logo{
        text-align: center;
    }

    .about-contact{
        display: block;
    }
    
    .home-about, .home-contact, .about-contact-img{
        width: 70%;
    }

    .home-about, .about-contact-img{
        margin-bottom: 20px;
    }

    .button{
        width: 50%;
    }

    .welcome{
        display: block;
        margin-top: 20px;
    }
    
    .welcome-img, .welcome-text{
        width: 100%;
    }
    
    .welcome-h1{
        width: 100%;
        text-align: center;
    }

    .button-all-posts{
        width: 50%;
    }
    

}

@media only screen and (max-width: 450px) {


    .button{
        width: 75%;
    }

    .buttons{
        display: flex;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .button-all-posts{
        width: 80%;
    }
}