:root{
    --header-color: #F4F6F0;
    --body-color: #F4F6F0;
    --text-color: black;
    --text-hover-color: #C4780B;
    --button-color: #9B1E2E;
    --button-hover-color: #C4780B; 
    --button-text-color: #FFFFFF;
    --border-color: #707070;
}

h1, h2, h3, h4, h5, button, p, input::placeholder, textarea, li, #message{
    color: var(--text-color);
}