a{
    text-decoration: none;
    color: inherit;
}

header, footer{
    display: flex;
    background-color: var(--header-color);
    color: var(--text-color);
    font-size: 35px;
    padding: 10px; 
}

footer{
    justify-content: center;
    padding: 20px 0 20px 0;
}

footer p{
    font-size: 12px;
}

.page-title{
    flex: 1;
    margin: 0 0 0 50px;
    font-weight: bold;
}

.page-title-mobile{
    display: none;
}

.links{
    flex: 1;
    display: flex;
    margin-right: 2vw;
    justify-content: space-between;
    align-items: center;
    font-size: 3vh;
}

.links div:hover{
    color: var(--text-hover-color);
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}


.current{
    border-bottom: 5px solid var(--text-color);
    padding: 0 5px 0 5px;
}


.current:hover{
    color: var(--text-color);
    border-bottom: 5px solid var(--text-color);
    font-weight: normal;
    transition: 0.6s;
}

@media only screen and (max-width: 768px) {
    
    .page-title{
        display: none;
    }
    
    .page-title-mobile{
        display: block;
        text-align: center;
    }

    header{
        margin: 0 auto;
        display: block;
        background-color: var(--header-color);
        color: var(--text-color);
        font-size: 35px;
        padding: 10px;
    }

    .links{
        margin-top: 20px;
    }

    .page-title{
        flex: 1;
        margin: 0 auto;
        font-weight: bold;
    }

    footer p{
        font-size: 10px;
    }
}

  @media only screen and (max-width: 425px) {
    
    .page-title-mobile{
        display: block;
        text-align: center;
        font-size: 8vw;
    }

    .links{
        font-size: 6vw;
    }

    footer p{
        font-size: 10px;
    }
}