h1, h2, h3, h4, h5, button, span{
    font-family: cafeteria, sans-serif;
    font-weight: bold;
}

textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder, textarea::placeholder {
    text-decoration: none;
}

p {
    font-family: pragmatica-extended, sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

p, input::placeholder, textarea{
 font-size: 15px;
}

.quote > p, .quotation p{
    font-family: cafeteria, sans-serif;
    font-size: 30px;
}

.author{
    font-weight: bold;
}

.shoppinglist span, .shoppinglist p{
    text-decoration: none;
    font-family: pragmatica-extended, sans-serif;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 30px;
    }
    
    h3{
        font-size: 20px;
    }
    
    h4{
        font-size: 15px;
    }
    
    p, input::placeholder, textarea{
     font-size: 15px;
    }
}


@media only screen and (max-width: 450px) {
    

    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 15px;
    }
    
    h4{
        font-size: 10px;
    }
    
    p, input::placeholder, textarea{
     font-size: 10px;
    }
    
    footer p{
        font-size: 10px;
    }
}