h1, h2, h3, h4, h5, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p, input::placeholder, textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 15px;
}

p, input::placeholder, textarea{
 font-size: 15px;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 15px;
    }
    
    h4{
        font-size: 10px;
    }
    
    p, input::placeholder, textarea{
     font-size: 15px;
    }

}


@media only screen and (max-width: 450px) {

    
    
}