h1, h2, h3, h4, h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p, input::placeholder, textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}